@use "utils" as *;

.switch {
  position: relative;
  display: inline-block;
  width: pxToRem(36px);
  height: pxToRem(20px);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: pxToRem(34px);

    &:before {
      content: "";
      position: absolute;
      height: pxToRem(16px);
      width: pxToRem(16px);
      left: pxToRem(2px);
      bottom: pxToRem(2px);
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #6a00ff;

    &:before {
      transform: translateX(16px);
    }
  }
}