@use "utils" as *;

.container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: pxToRem(80px); 
    transition: margin-left 0.3s ease;

    &.main-content-expanded {
      margin-left: pxToRem(250px);
    }
}
