@use "utils" as *;

.sidebar__settings {
  .toggle {
    cursor: pointer;
    img {
      transition: transform 0.3s ease;
    }

    img.rotate {
      transform: rotate(180deg);
    }
  }

  .sidebar__nav_item {
    display: flex;
    align-items: center;
    padding: 0.75rem pxToRem(13px);
    text-decoration: none;
    color: #374151;
    border-radius: 0.5rem;
    transition: opacity 0.3s;

    span {
      opacity: 0;
      &.expanded {
        opacity: 1;
      }
    }

    app-switch {
      opacity: 0;
      transform: translateX(30px);
      
      &.expanded {
        opacity: 1;
      }
    }
    
    &:hover {
      background-color: #f3f4f6;
    }

    img {
      margin-right: pxToRem(16px);
    }
  }
}

.switch-not-expanded{
  padding: 0 pxToRem(6px);
}